@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #060a1f;
}

#clock h2 {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 0.8em;
}

#clock #time {
  display: flex;
}

#clock #time div {
  position: relative;
  margin: 0 5px;
}

#clock #time div span {
  position: relative;
  display: block;
  width: 100px;
  height: 80px;
  background: #2196f3;
  color: #fff;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
}

#clock #time div span:nth-child(2) {
  
}