@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.container .icon {
  position: relative;
  width: 50vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .icon .iconBox {
  position: relative;
  width: calc(50vw - 40px);
  margin: 0 30px 30px 0;
  padding: 0 25px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: 0.5s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
}

.container .icon .iconBox.active {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container .icon .iconBox img {
  max-width: 100%;
  filter: grayscale(1);
  transition: 0.5s;
  transform: scale(0.8);
}

.container .icon .iconBox.active img {
  filter: grayscale(0);
  transform: scale(1);
}

.content {
  position: relative;
  width: 50vw;
  overflow: hidden;
}

.content .contentBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
}

.content .contentBox.active {
  transform: scale(1);
  opacity: 1;
}

.content .contentBox h2