<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../plugins/sweet-alert/dist/sweetalert2.min.css">
  <title>Registre-se</title>
</head>
<body>
  <div class="register-parent">
    <div class="register">
      <div class="register-title">
        <img src="../images/heartbeat.png" alt="heartbeat">
        <h2>Health Track</h2>
      </div>

      <form>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" placeholder="Nome completo">
        </div>
        <div class="form-group">
          <label for="age">Idade</label>
          <input type="text" class="form-control" id="age" placeholder="Idade">
        </div>
        <div class="form-group">
          <label for="genre">Gênero</label>
          <select class="form-control" id="genre">            
            <option value="1">Masculino</option>
            <option value="2">Feminino</option>            
          </select>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
            placeholder="Digite seu email">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="senha" placeholder="Senha">
        </div>
        <div>
          <button type="submit" class="btn mb-3">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>

  <script src="../plugins/jquery/jquery.min.js"></script>
  <script src="../plugins/jquery-validation/dist/jquery.validate.min.js"></script>
  <script src="../plugins/jquery-validation/dist/localization/messages_pt_BR.min.js"></script>
  <script src="../plugins/sweet-alert/dist/sweetalert2.all.min.js"></script>
  <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>
</html>